{% extends 'clgbook/base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block title %}
<title>CollegeStack </title>
{% endblock %}

{% block content %}

{% include 'clgbook/navbar.html' %}

<div class="container" style="max-width: 55rem;">
    <div class="card mt-4" style="border: none;border-radius: 0%;border-bottom: 1px solid #d6d6d6;">
        <div class="_8iu7y text-center">
            <strong style="font-size: 20px; color: #5d833c;">Your password of CollegeStack account change successfully
                !!!</strong>
        </div>
        <div class="_vfb56 mt-3 text-center">
            <p class="ik-0" style="font-size: 18px;color: #5d833c;">Do you want to check, then logout your account and
                relogin with new password<br>You don't do, then back to <a
                    style="text-decoration: none;color: royalblue;"
                    href="{% url 'account' request.user.username %}">College Account</a>
            </p>
        </div>
    </div>
</div>

{% endblock %}