{% extends 'clgbook/base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block title %}
<title>CollegeStack - Search Result For Second Year Student</title>
{% endblock %}

{% block content %}

{% include 'clgbook/navbar.html' %}

<div class="container _secr400">
    <div class="p-3 _KL_OP mt-2">
        <div class="_bn_vbbg">
            <div class="_fbcXDE">
                <div class="_fvgbtt text-center">
                    <p class="_title mb-5">Search For Second Year Student Data</p>
                </div>
                {% if std_data %}
                <table class="table">
                    <thead>
                        <tr class="text-center">
                            <th scope="col _ujVGb">Image</th>
                            <th scope="col _ujVGb">Name</th>
                            <th scope="col _ujVGb">Roll</th>
                            <th scope="col _ujVGb">Age</th>
                            <th scope="col _ujVGb">Div</th>
                            <th scope="col _ujVGb">Add</th>
                            <th scope="col _ujVGb">Course</th>
                            <th scope="col _ujVGb">Course Year</th>
                            <th scope="col _ujVGb">Gender</th>
                            <th scope="col _ujVGb">Student Fees</th>
                            <th scope="col _ujVGb">Addmission Date</th>
                            <th scope="col _ujVGb">Edit</th>
                            <th scope="col _ujVGb">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sbd in std_data %}
                        <tr class="text-center">
                            <td>
                                <img width="50" height="50" style="border-radius: 50%;" src="{{sbd.student_image.url}}"
                                    alt="">
                            </td>
                            <td class="_kjnmh">{{sbd.student_name}}</td>
                            <td class="_kjnmh">{{sbd.student_roll}}</td>
                            <td class="_kjnmh">{{sbd.student_age}}</td>
                            <td class="_kjnmh">{{sbd.student_div}}</td>
                            <td class="_kjnmh">{{sbd.student_add}}</td>
                            <td class="_kjnmh">{{sbd.student_course}}</td>
                            <td class="_kjnmh">{{sbd.student_course_year}}</td>
                            <td class="_kjnmh">{{sbd.gender}}</td>
                            <td class="_kjnmh">{{sbd.student_fees}}</td>
                            <td class="_kjnmh">{{sbd.addmission_date}}</td>
                            <td>
                                <a href="{% url 'student_edit' sbd.student_name %}">
                                    <svg width="20" height="20" fill="royalblue" class="bi bi-pencil-square"
                                        viewBox="0 0 16 16">
                                        <path
                                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                        <path fill-rule="evenodd"
                                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                    </svg>
                                </a>
                            </td>
                            <td>
                                <form action="{% url 'student_delete' sbd.student_name %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="NH_juj">
                                        <svg width="20" height="20" fill="red" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path
                                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                            <path fill-rule="evenodd"
                                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                        </svg>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div class="_bVCXED text-center mt-5">
                    <strong style="font-size: 18px;color: #a39f9f;">No Search For Second Year Student Data Here</strong><br>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}