{% extends 'clgbook/base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block title %}
<title>CollegeStack </title>
{% endblock %}

{% block content %}

{% include 'clgbook/navbar.html' %}


<div class="container _secr400 _bg5tfr">
    <div class="p-5 _kollpl">
        {% if messages %}
        {% for msg in messages %}
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            {{msg}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        <div class="_bn_vbbg">
            <div class="_fvgbtt text-center">
                <p class="_title">Faculties data change form</p>
            </div>
            <div class="card" style="border: none;">
                <div class="_hygimg text-center mt-3">
                    {% for fd in faculty_data %}
                    <img width="150" height="150" style="border-radius: 50%;" src="{{fd.faculty_image.url}}" alt="">
                    {% endfor %}
                </div>              
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for ff in faculty_form %}
                    <label for="exampleFormControlInput1" class="form-label mt-4">{{ff.label}}</label><br>
                    {{ff}}
                    {% endfor %}
                    <div class="_vgtf mt-5" style="text-align: right;">
                        <input type="submit" class="_GBTHY" value="Change">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}